// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-validation-icons: false;
$enable-deprecation-messages: false;

// $offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$primary: rgb(149, 201, 79);
$secondary: rgb(255, 103, 31);
$success: rgb(57, 181, 74);
$info: rgb(23, 143, 253);
$danger: rgb(252, 6, 6);
$light: rgb(204, 204, 204);
$dark: rgb(64, 64, 64);
$body-secondary-color: rgb(102, 102, 102);
$body-tertiary-color: rgb(102, 102, 102);
$border-color: rgb(182, 186, 193);
$input-focus-border-color: rgb(149, 201, 79);
$form-label-color: rgb(182, 186, 193);
$input-disabled-color: rgb(167, 170, 175);
$input-color: rgb(102, 102, 102);
$input-focus-color: rgb(64, 64, 64);
$input-border-color: rgb(134, 141, 154);
$border-radius: 0.5rem;
$border-width: 1px;
$btn-font-weight: 700;
$btn-close-width: 2em;
$btn-close-padding-x: 0;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$modal-dialog-margin: 0;
$focus-ring-width: 0;
// $font-size-base: 0.9rem;
$font-family-sans-serif: Montserrat, Arial, sans-serif;
$font-family-monospace: Montserrat, Arial, sans-serif;
$input-btn-padding-y: 0.625rem;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;
$paragraph-margin-bottom: 0;
$form-check-input-width: 1.5em;
$form-check-min-height: 1.5em;
$btn-close-bg: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='100%' viewBox='0 0 1167 1168' enable-background='new 0 0 1167 1168' xml:space='preserve'><path fill='#FFFFFF' opacity='1.000000' stroke='none' d=' M618.000000,1169.000000   C595.979126,1169.000000 573.958191,1169.000000 551.771729,1168.617798   C545.173645,1167.490479 538.748230,1166.676025 532.307129,1166.015625   C521.898621,1164.948608 511.334106,1164.752441 501.095184,1162.815674   C479.249756,1158.683228 457.523193,1153.880981 435.834778,1148.969604   C402.375031,1141.392456 370.494751,1129.074463 339.516449,1114.659668   C307.219818,1099.631470 276.449585,1081.844604 247.260788,1061.215942   C225.898804,1046.118652 205.622025,1029.735596 186.741806,1011.823669   C169.251694,995.230713 152.757004,977.462280 137.037308,959.168823   C124.079086,944.088989 112.424225,927.812622 101.034271,911.479065   C82.688934,885.171204 66.851189,857.345520 54.046772,827.896729   C47.725834,813.359253 41.520790,798.740234 36.067898,783.863220   C24.987471,753.632568 15.872113,722.798523 11.035865,690.887329   C8.015618,670.958740 5.679969,650.926819 2.932652,630.955627   C2.787680,629.901733 1.666648,628.982117 1.000004,628.000000   C1.000000,599.979126 1.000000,571.958191 1.380825,543.771667   C2.173620,542.759644 2.864830,541.941833 2.954977,541.062439   C4.021504,530.658508 4.737562,520.211975 6.063052,509.842743   C7.810911,496.169281 9.179042,482.363770 12.225746,468.959442   C16.775549,448.942108 22.295998,429.122803 28.043427,409.405823   C35.498039,383.832184 45.905914,359.344849 57.010635,335.171082   C69.191719,308.654175 84.167206,283.698853 100.185509,259.366486   C116.028831,235.299881 133.666916,212.470413 153.383850,191.580124   C172.206741,171.637085 192.290894,152.733597 213.104355,134.868774   C229.248062,121.012146 247.052536,108.991447 264.713989,97.033760   C278.539856,87.672958 293.031189,79.208855 307.685364,71.183586   C320.473206,64.180412 333.749756,58.004650 347.088409,52.090397   C360.838715,45.993633 374.677368,39.911774 388.923737,35.162392   C408.985321,28.474367 429.330414,22.529480 449.797729,17.201962   C464.603333,13.348142 479.712982,10.388921 494.854065,8.170940   C511.315826,5.759496 527.973572,4.693223 544.533630,2.925151   C545.414246,2.831131 546.180481,1.666321 547.000000,0.999997   C571.354248,1.000000 595.708435,1.000000 620.228333,1.382535   C621.075256,2.170768 621.730408,2.874539 622.441650,2.936758   C630.934692,3.679706 639.447021,4.214079 647.932312,5.030659   C657.023254,5.905511 666.195190,6.467727 675.146240,8.152309   C692.408203,11.401001 709.574280,15.188736 726.717041,19.034422   C752.918762,24.912350 778.298767,33.591278 803.047791,43.792210   C822.451538,51.789967 841.326660,61.169754 860.033569,70.724663   C873.181519,77.440208 885.890381,85.106087 898.370789,93.017235   C918.077209,105.508865 937.230957,118.817078 954.813049,134.265823   C966.619629,144.639801 978.981384,154.408951 990.419495,165.166626   C999.293091,173.512314 1007.377747,182.747803 1015.356079,191.982590   C1027.417358,205.943390 1039.372925,220.015778 1050.846680,234.459213   C1069.142700,257.490601 1085.047363,282.211060 1098.486206,308.319214   C1109.421631,329.564056 1119.601196,351.296478 1128.522949,373.454102   C1139.430542,400.543549 1148.111450,428.476776 1153.979492,457.173828   C1156.437622,469.195129 1158.776367,481.243927 1160.937500,493.321686   C1162.195435,500.351898 1163.154419,507.446106 1163.956665,514.544434   C1164.820557,522.189148 1165.306030,529.876160 1166.094849,537.530457   C1166.151489,538.079895 1167.338623,538.512878 1168.000000,539.000000   C1168.000000,568.687561 1168.000000,598.375122 1167.621826,628.228516   C1166.829224,629.739746 1166.164551,631.062561 1166.040894,632.434204   C1165.289307,640.760620 1165.113037,649.164795 1163.895386,657.417725   C1161.556274,673.270203 1159.305176,689.185547 1155.810059,704.804626   C1151.639648,723.441284 1147.054932,742.075195 1141.087280,760.195801   C1134.383667,780.551636 1126.661499,800.651794 1118.041626,820.274231   C1109.461914,839.804993 1099.987305,859.040100 1089.478760,877.597168   C1079.895264,894.520752 1069.164917,910.931152 1057.550537,926.533447   C1043.549683,945.341797 1028.824097,963.735168 1013.029663,981.046753   C998.994202,996.430298 983.281494,1010.321289 967.901672,1024.426758   C958.286682,1033.245117 948.231079,1041.656250 937.822388,1049.521118   C914.015991,1067.509399 889.188538,1084.008057 862.784363,1097.991089   C835.658875,1112.355835 807.792419,1125.012695 778.750854,1135.138550   C754.750854,1143.506714 730.447327,1150.701904 705.595459,1155.884155   C690.079407,1159.119751 674.407898,1161.769043 658.696838,1163.860474   C646.036438,1165.545654 633.209229,1165.965210 620.467468,1167.078003   C619.595703,1167.154053 618.820251,1168.333618 618.000000,1169.000000  M1024.966187,375.627808   C1017.976013,362.585480 1011.629333,349.143433 1003.837219,336.599243   C993.469788,319.909149 982.297974,303.688019 970.848938,287.711731   C963.738953,277.790344 956.060059,268.134491 947.616089,259.339111   C926.026367,236.851074 904.321289,214.316147 878.649719,196.380051   C858.989014,182.643692 838.987000,169.240616 818.203430,157.316071   C801.826965,147.920059 784.330261,140.250702 766.774780,133.199570   C749.418030,126.228271 731.536682,120.402100 713.570618,115.150871   C692.176941,108.897850 670.409607,104.033165 648.115234,101.936859   C636.261169,100.822227 624.471985,98.775528 612.600830,98.149857   C599.966675,97.483971 587.269653,98.079506 574.601135,97.981155   C555.990723,97.836693 537.466797,98.778984 519.107422,102.003571   C503.501892,104.744492 487.705261,106.726219 472.357483,110.518341   C454.954590,114.818245 437.821594,120.356468 420.815155,126.080963   C394.761017,134.850983 369.968628,146.515152 345.968536,159.947662   C322.804230,172.912445 300.726196,187.387558 280.176697,204.238434   C262.382111,218.830261 244.514938,233.296310 229.556412,250.948715   C218.136414,264.425323 205.802017,277.228058 195.422638,291.459717   C182.630814,308.999176 170.783554,327.318878 159.730682,346.012421   C145.496094,370.087097 134.222382,395.662872 124.954185,422.094635   C114.048203,453.197174 105.661133,484.888733 101.974297,517.721497   C100.355026,532.141785 97.627289,546.525024 97.227440,560.975525   C96.519241,586.570862 96.069901,612.242126 99.975327,637.720703   C102.434090,653.761353 103.868164,670.007385 107.238724,685.847046   C111.009651,703.568115 115.229073,721.382019 121.457146,738.346497   C130.170166,762.079712 140.219894,785.397095 151.050262,808.251465   C158.179108,823.294739 166.937119,837.722351 176.326614,851.497986   C187.815079,868.353088 200.067505,884.794067 213.213791,900.381714   C225.595901,915.063171 239.016083,928.989929 253.003967,942.160828   C265.807037,954.215942 279.792419,965.052673 293.594574,976.000488   C312.580048,991.059631 332.949829,1004.194092 354.612488,1014.948975   C375.425415,1025.282104 396.635010,1035.010254 418.300262,1043.371826   C435.905151,1050.166382 454.229584,1055.462402 472.627106,1059.733521   C490.724976,1063.935303 509.251770,1066.521118 527.711121,1068.864502   C543.952881,1070.926392 560.344177,1072.386353 576.701843,1072.786255   C591.179199,1073.140259 605.712585,1071.849365 620.199951,1070.943359   C631.632141,1070.228394 643.163147,1069.755737 654.415588,1067.814819   C671.713806,1064.831055 688.838074,1060.803833 705.987061,1056.998169   C735.563843,1050.435303 763.657654,1039.498169 791.062805,1026.885010   C816.843811,1015.019226 841.147766,1000.482056 864.467163,984.245239   C886.509583,968.897400 906.974060,951.681030 926.255798,933.075256   C935.267639,924.379333 943.617004,914.961365 951.867371,905.521729   C960.131104,896.066711 968.643921,886.688232 975.714966,876.363586   C987.703979,858.857971 999.052124,840.877441 1009.924072,822.651855   C1023.363770,800.121521 1034.072632,776.201538 1042.937500,751.523682   C1052.905396,723.775208 1060.914917,695.453064 1064.955566,666.179321   C1067.627808,646.817932 1070.534668,627.423096 1071.731567,607.944580   C1072.714966,591.942017 1071.734253,575.773071 1070.883423,559.717041   C1070.104980,545.023254 1068.668091,530.341431 1066.891968,515.730835   C1065.546509,504.663757 1063.651001,493.618103 1061.203491,482.742188   C1058.244263,469.592743 1054.577271,456.595734 1050.979858,443.598236   C1044.546387,420.353302 1035.405640,398.135376 1024.966187,375.627808  z'/><path fill='#FFFFFF' opacity='1.000000' stroke='none' d=' M387.250000,714.250000   C430.382996,671.122864 473.265961,628.245728 516.387573,585.129944   C514.997803,583.650024 513.812683,582.316895 512.553711,581.057678   C455.873474,524.369568 399.152649,467.721893 342.536407,410.969910   C333.698822,402.111176 328.526825,391.586090 327.840820,378.638062   C327.073181,364.149658 331.544128,351.722961 341.719299,342.064728   C357.048187,327.514587 375.099609,323.422089 394.851440,332.570892   C400.316254,335.102112 405.763000,338.498718 410.005524,342.717651   C468.265106,400.652954 526.312195,458.801971 584.546936,517.033997   C598.921570,502.632355 613.257385,488.249847 627.614807,473.889008   C671.801880,429.691162 715.798523,385.300049 760.315186,341.436646   C773.011963,328.926239 788.863098,325.108093 806.550842,329.940308   C822.355957,334.258240 832.937439,344.457764 838.483459,359.237274   C844.373901,374.934448 841.996521,390.247314 832.304321,404.147522   C830.723022,406.415436 828.895569,408.555084 826.940002,410.512390   C770.163940,467.340363 713.361389,524.141968 656.526733,580.911316   C655.258301,582.178284 653.566772,583.021667 650.801392,584.948120   C653.623962,586.969116 655.287415,587.845886 656.558472,589.115601   C713.274292,645.768005 769.985229,702.425598 826.600342,759.178589   C833.016479,765.610413 838.559326,772.742188 841.316956,781.723755   C850.060425,810.201721 832.562866,838.882141 803.594910,843.734497   C789.992676,846.012939 776.550110,843.468262 765.789978,833.301697   C760.867676,828.651001 755.749329,824.199829 750.960510,819.417297   C696.833984,765.360962 642.718994,711.292969 588.743591,657.086060   C585.252747,653.580200 583.452515,653.897278 580.156982,657.203735   C522.743164,714.807434 465.162292,772.244690 407.727356,829.827454   C391.368835,846.228088 364.715210,849.189697 346.305817,835.977478   C335.347107,828.112427 328.075500,817.742981 325.948395,804.023621   C323.367462,787.376892 328.518738,773.336792 340.022156,761.571228   C355.518494,745.721558 371.326019,730.176025 387.250000,714.250000  z'/></svg>");

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//

@import "icon-list";
@import "montserrat";

:root {
  --curacao-green: rgb(149, 201, 79);
  --curacao-yellow: rgb(255, 200, 41);
  --curacao-orange: rgb(236, 107, 37);
  --curacao-red: rgb(210, 31, 51);
  --curacao-brown: rgb(125, 44, 43);
}
.fw-300 {
  font-weight: 300;
}
a.scenario {
  text-decoration: none !important;
  > div {
    background: rgb(248, 249, 205);
    line-height: 1.2;
  }
}

img.credit {
  height: auto;
  max-width: 250px;
  @media screen and (max-width: 390px) {
    max-width: 200px;
  }
  width: 100%;
}
.lh-1 {
  line-height: 1;
}

@media screen and (max-width: 500px) {
  .mw-btn {
    width: 100%;
  }
}
@media screen and (min-width: 501px) {
  .mw-btn {
    width: 100%;
    max-width: 300px;
  }
}
.icon {
  max-width: 75px;
}
@media screen and (max-width: 355px) {
  .d-none-br {
    display: none;
  }
}
.btn-back {
  -webkit-appearance: button;
  appearance: button;
  background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='507.000000pt' height='889.000000pt' viewBox='0 0 507.000000 889.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,889.000000) scale(0.100000,-0.100000)' fill='%23fff' stroke='none'%3E%3Cpath d='M4339 8880 c-69 -11 -148 -42 -219 -85 -38 -24 -656 -635 -2018 -1998 -1080 -1080 -1972 -1976 -1983 -1993 -75 -110 -109 -221 -109 -356 0 -111 17 -186 66 -288 36 -74 72 -111 2023 -2061 1855 -1855 1991 -1988 2056 -2022 95 -48 182 -69 290 -70 114 -1 178 14 285 66 65 32 102 58 155 112 197 199 239 484 109 738 -35 68 -141 175 -1763 1800 l-1726 1727 1731 1733 c1693 1693 1733 1734 1768 1807 50 103 69 202 63 315 -10 162 -65 284 -181 401 -75 75 -175 134 -271 161 -66 17 -206 24 -276 13z'/%3E%3C/g%3E%3C/svg%3E");
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  width: 1.5em;
  height: 1em;
  border: none;
  opacity: 1;
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
#terms {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 300px;
}
/* WebKit-based browsers (e.g., Safari) */
#terms::-webkit-scrollbar {
  width: 10px;
}

#terms::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#terms::-webkit-scrollbar-thumb {
  background: #92c039;
}

#terms::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Standard scrollbar styling for non-WebKit browsers */
#terms {
  scrollbar-width: thin; /* for Firefox and Edge */
  scrollbar-color: #92c039 #f1f1f1; /* thumb and track color for Firefox */
}

#terms:hover {
  scrollbar-color: #555 #f1f1f1; /* thumb and track color on hover for Firefox */
}

.text-light-2 {
  color: rgb(167, 170, 175);
}

.form-check-input[type="checkbox"] {
  margin-top: 0.25em;
}

.codeInput {
  border: 1px solid rgb(134, 141, 154);
  color: rgb(102, 102, 102);
  width: 37px;
  @media screen and (min-width: 768px) {
    width: 40px;
  }
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  border: 1px solid inherit;
  border-radius: 5px;
}
.codeInput:focus-within,
.codeInput:active,
.codeInput:focus {
  color: rgb(64, 64, 64);
  border: 1px solid rgb(149, 201, 79) !important;
  outline: none !important;
  box-shadow: none;
}

.modal-dialog,
.modal-content {
  @media screen and (max-width: 575px) {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
